.carte{
    position: relative;
    border-radius: $radius;
    overflow: hidden;
    background-color: white;
    box-shadow: $shadow;
    margin-bottom: 25px;
    &__image{
        width: 100%;
        overflow: hidden;
        height: 200px;
       &>img{
           width: 100%;
       } 
    }
    &__info{
       display: flex;
       align-items: center;
       justify-content: space-between;
       margin: $margincard;
      
    }
    &__trend{
        font-size: 0.6em;
        border-radius: 2px;
        position: absolute;
       background-color: $colour-trend;
       color:$colour-fonttrend;
       width:fit-content;
       padding: 1% 2%;
       top: 4%;
       right: 3%;
       
     }
     &__trend--inactive{
         display: none;
        
       
     }
}
.heart{
    cursor:pointer;
    width: 25px;
    overflow: visible;
}
.heartsvg{
    fill: white;
    stroke: black;
    stroke-width: 30px;
}

.heartsvg:hover{
    animation: filler 500ms ease-in forwards;
}
.heartsvg:active{
    animation: filler 500ms ease-in forwards;
}

@keyframes filler {
     0%{ fill:white;stroke: black; }
    100%{stroke: $colour-primary; fill:$colour-primary; } 
    
}

