.footer{
    
    padding: $margin;
    background-color: $colour-footerbg;
    color: white;
    
 
    & >h2{
        font-size: 0.7em;
        margin-bottom: 5%;
        font-family: 'Shrikhand', sans-serif;
        padding-top: 35px;
    }
    &>a{
        display: flex;
        margin-bottom:7px;
        align-items: center;
        color: white;
        & div{
            font-size: 13px;
            margin-right: 3%;
           
        }

        & svg{
            margin-top: 25px;
            width: 115px;
            
            
        }
        
       
    }
   
}









