.listresto {
  padding: $margin;
  background-color: $colour-bglight;
  overflow: hidden;
  animation: grow 1s ease-in 2s forwards;
  @media (min-width: 1440px) {
    padding: 0% 20% 45px 20%;
  }
  &__carte{
      opacity: 1;
  }
  &__title {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  /* spinner */
  

  /* KEYFRAMES */

  &__carte--1{
      animation: spawning 1s ease-in 3s forwards;
  }
  &__carte--2{
    animation: spawning 1s ease-in 3.5s forwards;
}
&__carte--3{
    animation: spawning 1s ease-in  4s forwards;
}
&__carte--4{
    animation: spawning 1s ease-in 4500ms forwards;
}
}
