.list__order {
    display: flex;
    align-items: center;
    background-color: $colour-bglight;
    border-radius: 20px;
    padding: 8% 5% 8% 0%;
    margin-bottom: 15px;
    position: relative;
    box-shadow: $shadow;

&--active {
  
    background-color: $colour-active;

    &>i{
        color: $colour-primary;
    }
}
  
  
    
    & div{
        color: white;
        background-color:$colour-primary;
        border-radius: 100%;
        font-size: 15px;
        padding: 5px 13px 5px 13px;
        position: absolute;
        left: -5%;
    }
    &>i{
        margin-left: 
        8%;
        margin-right: 7%;
        font-size: 18px;
     } 
}