.menu{
    @include menuradius;
    background-color: $colour-bglight;
    padding: $padding;
    position: relative;
    margin-top: 230px;
    z-index: 0;
   
    &__heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 25px;
        padding-right: 3%;
        & h1{
            font-size: 30px;
        }
    }
    
    &__btn{
        display: flex;
        justify-content: center;
        padding-top: 40px ;
        padding-bottom: 70px ;
    }
    
    
}

.menucarte{
    padding-top:30px;
    
   &__heading{
       & >h4{
           font-size: smaller;
           font-weight: 100;
       }
       & >div{
        width: 15%;
        height: 3px;
        background-color: $colour-tertiary;
    }
   }
   &__list{
       margin-top: $topspace;
       list-style: none;

       
   }
}

