.btn {
    @include btn

   
}
.btn:hover{
    animation:light 500ms ease-out forwards;
    cursor: pointer;
        
}
@keyframes light {
    0% {background: linear-gradient(45deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);}
    100%{background: linear-gradient(45deg, hsl(317,100%,80%), hsl(267,66%,65%) 100%); box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);}
    
}
