.info{
    &__heading{
        font-size: 22px;
        & > p{
            font-size: 15px;
        }
       
    }
    &__price{
      

        position: relative;
        width: 35px;
        &>p{
            font-size: 18px;
            font-weight: 700;
            position: absolute;
            bottom: 0;

            
        }

    }
}